.home-page {
  min-height: 100vh;
  padding: calc(var(--top-nav-height) + var(--page-top-gap)) 2rem 2rem;
  background-color: var(--muted);
}

.home-container {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: var(--dashboard-gap);
}
