.back-link {
  align-self: center;
  width: fit-content;
  margin: var(--dashboard-gap) auto 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  font-size: small;
  color: var(--muted-foreground);
}

.back-link-icon {
  display: inline-flex;
  color: #000;
  transition: color 0.2s ease;
}

.back-link-icon:hover,
.back-link-icon:focus-visible {
  color: #737373;
}
